.configuration_popup{
    width: 50%;
    height: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;

    border-radius: 50px 50px 50px 50px;
    background-color: var(--popup-background-color);
    padding : 0.8em 0.8em 0.8em 1.4em;
    color : var(--main-color);

    display: flex;
    justify-content: space-between;
}

.configuration_popup_selection_titles{
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
}

.configuration_popup_selection_titles_Visible{
    position: sticky;
    left: 12em;
    text-align: center;
}
.configuration_popup_selection_titles_Range{
    position: sticky;
    left: 19.4em;
}

.configuration_popup_selection{
    width: 90%;
    height: 100%;

    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.configuration_popup_tagset_labels{
    margin: 0.8em 0 0.8em 0;
}

.configuration_popup_labels_title{
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.configuration_popup_labels_subtitle{
    font-size: 1em;
    margin-left: 50px;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

.configuration_popup_close{
    width: 7%;
    width: auto;
    display: flex;
    justify-content: center;
}

.configuration_popup_close_button{
    width: min-content;
    cursor: pointer;
}


.isVisible_Checkbox{
    position: sticky;
    left: 21em;
    
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

.asRange_Checkbox{
    position: sticky;
    left: 31em;
    
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}