<p class="selection_component_title">
    Filters
</p>

<div class="selection_component_searchbar"> 
    <input type="text" [(ngModel)]="filterstosearch" placeholder="Search..." (input)="search_Filters()" > 
</div>

<button class="clear_selection_component" (click)="clearFiltersSelection()"> Clear Selection </button>


<div class="selection_component_labels">

    <!-- Checked items will be displayed at the top (double) to make them easier to find and uncheck. -->
    <div class="filters_checked_all_element" [style.border-bottom]="!(filtersList.length===0) ? 'solid var(--main-color)' : 'none'">
      <div class="filters_checked_element" *ngFor="let element of filtersList">
        <ng-container *ngIf="element.element.type==='tagset'">
          <input type="checkbox" [checked]="element.element.isCheckedFilters" (change)="toggleCheckboxTagsetFilters(element.element)" [style.margin-right]="'50px'" />
        </ng-container>
        <ng-container *ngIf="element.element.type==='tag'">
          <input type="checkbox" [checked]="element.element.ischecked" (change)="onTagFilterSelected(element.element)" [style.margin-right]="'50px'" />
        </ng-container>
        <ng-container *ngIf="element.element.type==='node'">
          <input type="checkbox" [checked]="element.element.isCheckedFilters" (change)="onNodeFilterSelected(element.element)" [style.margin-right]="'50px'" />
        </ng-container>
        {{element.element.name}}
      </div>
    </div>


    <div class="filters_tagset_labels" *ngFor="let tagset of tagsetlist" >
      <div *ngIf="tagset.isVisibleFilters">
        <!-- Tagset Display -->
        <div class="filters_labels_title">
          <input type="checkbox" [checked]="tagset.isCheckedFilters" (change)="toggleCheckboxTagsetFilters(tagset)" [style.margin-right]="'50px'" />
          <span  class="toggle-button" (click)="tagset.isExpandedFilters = !tagset.isExpandedFilters">{{tagset.isExpandedFilters ? '-' : '+'}}</span>
          {{tagset.name}}
        </div>

        <div *ngIf="tagset.isExpandedFilters">
          <!-- Display tags not present in tagset hierarchy nodes -->
          <div class="filters_tags_labels_div">
            <div class="filters_labels_title" *ngIf="tagset.hierarchies && tagset.hierarchies.length>0">
              <span class="toggle-button" (click)="tagset.isTagListExpanded= !tagset.isTagListExpanded">{{tagset.isTagListExpanded ? '-' : '+'}}</span>  
              Tags
            </div>
            <div class="filters_tags_labels" *ngIf="tagset.isTagListExpanded || !(tagset.hierarchies.length>0)">
                <app-filters-selection-tag *ngFor="let tag of sortTags(getTagsetTagList(tagset))" [tag]="tag" (idchecked)="onTagFilterSelected($event)"></app-filters-selection-tag>
            </div>  
          </div>

          <!-- Display tagset hierarchies and nodes -->
          <div class="filters_hierarchies_labels" *ngFor="let hierarchy of sortHierarchy(tagset.hierarchies)">            
            <div class="filters_labels_title" *ngIf="hierarchy.isVisible">
              <input type="checkbox" [checked]="hierarchy.firstNode.isCheckedFilters" (change)="onNodeFilterSelected(hierarchy.firstNode)" [style.margin-right]="'50px'" />
              <span *ngIf="hierarchy.firstNode.children && hierarchy.firstNode.children.length > 0" class="toggle-button" (click)="hierarchy.firstNode.isExpandedFilters = !hierarchy.firstNode.isExpandedFilters">{{hierarchy.firstNode.isExpandedFilters ? '-' : '+'}}</span> 
              {{hierarchy.firstNode.name}}
            </div>
            <div class="filters_childnodes_labels" *ngIf="hierarchy.firstNode.isExpandedFilters && hierarchy.firstNode.children && hierarchy.firstNode.children.length > 0 && hierarchy.firstNode.isVisibleFilters">
              <app-filters-selection-nodes *ngFor="let childNode of sortNodeChildren(hierarchy.firstNode)" [node]="childNode" (idchecked)="onNodeFilterSelected($event)"></app-filters-selection-nodes>
            </div>     
          </div>
        </div>
        
      </div>    
    </div>
</div>