<div class="axis-container">

    <!-- If no X is selected, we'll use template YButNoX instead of the entire <table> tag and its contents (see end of file). -->
    <table *ngIf="AxisX && AxisX.length>0; else YButNoX">

      <thead>
        <tr>
          <th class="intersection-cell"></th>
          <th class="head-row" *ngFor="let x of AxisX" (click)="zoomOnLabels(x,'X')">{{ x }}</th>
        </tr>
      </thead>

      <!-- If no Y is selected, we'll use template XButNoY instead of the entire <tbody> tag and its contents (see end of file). -->
      <tbody *ngIf="AxisY && AxisY.length>0; else XButNoY">
        <tr *ngFor="let y of AxisY">
          <td (click)="zoomOnLabels(y,'Y')">{{ y }}</td>
          <td *ngFor="let x of AxisX" (click)="viewAllMedia(x,y)">
            <ng-container>
              <div *ngIf="mediaUrls[x + '-' + y]; let mediaUrl">

                <!-- Block loading: Waiting for the media to load -->
                <div *ngIf="isLoading[x + '-' + y] && mediaUrl" class="loading">
                  Loading...
                </div>
                
                <!-- Block Image: When image loading is successful (possible extension : 'jpg', 'png', 'jpeg', 'gif', 'webp', 'svg', 'bmp', 'ico')-->
                <img
                  *ngIf="['jpg', 'png', 'jpeg', 'gif', 'webp', 'svg', 'bmp', 'ico'].includes(mediaType[x + '-' + y].toLowerCase()) && !isError[x + '-' + y] && mediaUrl"
                  class="cell-content_img"
                  [src]="mediaUrl"
                  alt="Cell Image"
                  (load)="onLoad(x + '-' + y)"
                  (error)="onError(x + '-' + y)"
                />
              
                <!-- Block Audio: When audio loading is successful (possible extension : 'mp3','wav')-->
                <audio controls
                  *ngIf="['mp3','wav'].includes(mediaType[x + '-' + y].toLowerCase()) && !isError[x + '-' + y] && mediaUrl"
                  class="cell-content_img"
                  alt="Cell Audio"
                  (loadeddata)="onLoad(x + '-' + y)"
                >
                  <source *ngIf="['mp3'].includes(mediaType[x + '-' + y].toLowerCase())" [src]="mediaUrl" type="audio/mpeg"
                    (error)="onError(x + '-' + y)"
                  >   
                  <source *ngIf="['wav'].includes(mediaType[x + '-' + y].toLowerCase())" [src]="mediaUrl" type="audio/wav"
                    (error)="onError(x + '-' + y)"
                  >   
                </audio>   

                <div class="cell_content_iframe_youtube_div" *ngIf="['youtube'].includes(mediaType[x + '-' + y].toLowerCase()) &&  !isError[x + '-' + y]">
                  <iframe [src]='mediaUrl'
                    frameborder="0" 
                    allowtransparency="true" 
                    allow="encrypted-media"
                    loading="eager"
                    (load)="onLoad(x + '-' + y)"
                    (error)="onError(x + '-' + y)">                      
                  </iframe>
                </div>
        
                <div class="cell_content_iframe_spotify_div" *ngIf="['spotify'].includes(mediaType[x + '-' + y].toLowerCase()) &&  !isError[x + '-' + y]">
                    <iframe [src]='mediaUrl'
                      frameborder="0" 
                      allowtransparency="true" 
                      allow="encrypted-media"
                      loading="eager"
                      (load)="onLoad(x + '-' + y)"
                      (error)="onError(x + '-' + y)">                      
                    </iframe>
                </div>
                
                <!-- Block error: When media loading fails -->
                <div *ngIf="isError[x + '-' + y]" class="error">
                  Media Not Found!
                </div>
                    
                <!-- Block Number of medias: When media loading is successful -->
                <div *ngIf="mediaUrl && contentCount[x + '-' + y]; let contentCount">
                  Medias : {{contentCount}}
                </div>
                
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>

    </table>

</div>


<!-- Template for the case where only the X dimension is selected.  -->
<ng-template #XButNoY>
  <tbody>
    <tr>
        <td></td>
        <td *ngFor="let x of AxisX" (click)="viewAllMedia(x)">
          <ng-container>
            <div *ngIf="mediaUrls[x]; let mediaUrl">

              <!-- Block loading: Waiting for the media to load -->
              <div *ngIf="isLoading[x] && mediaUrl" class="loading">
                Loading...
              </div>
                    
              <!-- Block Image: When image loading is successful -->
              <img
                *ngIf="(mediaType[x]==='jpg') && !isError[x] && mediaUrl"
                class="cell-content_img"
                [src]="mediaUrl"
                alt="Cell Image"
                (load)="onLoad(x)"
                (error)="onError(x)"
              />
              
              <!-- Block Audio: When audio loading is successful -->
              <audio controls
                *ngIf="(mediaType[x]==='mp3') !isError[x] && mediaUrl"
                class="cell-content_img"
                alt="Cell Audio"
                (load)="onLoad(x)"
                (error)="onError(x)"
              >
                <source [src]="mediaUrl" type="audio/mpeg">
                Votre navigateur ne supporte pas l'élément audio.
              </audio>

              <div class="cell_content_iframe_youtube_div" *ngIf="['youtube'].includes(mediaType[x].toLowerCase()) &&  !isError[x]">
                  <iframe [src]='mediaUrl' frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
      
              <div class="cell_content_iframe_spotify_div" *ngIf="['spotify'].includes(mediaType[x].toLowerCase()) &&  !isError[x]">
                  <iframe [src]='mediaUrl' frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
                    
              <!-- Block error: When media loading fails -->
              <div *ngIf="isError[x]" class="error">
                Media Not Found!
              </div>
                    
              <!-- Block Number of medias: When media loading is successful -->
              <div *ngIf="mediaUrl && contentCount[x]; let contentCount">
                Medias : {{contentCount}}
              </div>

            </div>
          </ng-container>
        </td>
    </tr>
  </tbody>
</ng-template>


<!-- Template for the case where only the Y dimension is selected.  -->
<ng-template #YButNoX>
  <table>
    <thead>
      <tr>
        <th class="intersection-cell"></th>
        <th class="head-row">{{ '' }}</th>
      </tr>
    </thead>
    <tbody *ngIf="AxisY && AxisY.length>0; else XButNoY">
      <tr *ngFor="let y of AxisY">
        <td (click)="zoomOnLabels(y,'Y')">{{ y }}</td>
        <td (click)="viewAllMedia(undefined,y)">
          <ng-container>
            <div *ngIf="mediaUrls[y]; let mediaUrl">

              <!-- Block loading: Waiting for the media to load -->
              <div *ngIf="isLoading[y] && mediaUrl" class="loading">
                Loading...
              </div>
              
              <!-- Block Image: When image loading is successful -->
              <img
                *ngIf="(mediaType[y]==='jpg') && !isError[y] && mediaUrl"
                class="cell-content_img"
                [src]="mediaUrl"
                alt="Cell Image"
                (load)="onLoad(y)"
                (error)="onError(y)"
              />
              
              <!-- Block Audio: When audio loading is successful -->
              <audio controls
                *ngIf="(mediaType[y]==='mp3') !isError[y] && mediaUrl"
                class="cell-content_img"
                alt="Cell Audio"
                (load)="onLoad(y)"
                (error)="onError(y)"
              >
                <source [src]="mediaUrl" type="audio/mpeg">
              </audio>

              <div class="cell-cell_content_iframe_youtube_div" *ngIf="['youtube'].includes(mediaType[y].toLowerCase()) &&  !isError[y]">
                  <iframe [src]='mediaUrl' frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
      
              <div class="cell-cell_content_iframe_spotify_div" *ngIf="['spotify'].includes(mediaType[y].toLowerCase()) &&  !isError[y]">
                  <iframe [src]='mediaUrl' frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
              
              <!-- Block error: When media loading fails -->
              <div *ngIf="isError[y]" class="error">
                Media Not Found!
              </div>
                    
              <!-- Block Number of medias: When media loading is successful -->
              <div *ngIf="mediaUrl && contentCount[y]; let contentCount">
                Medias : {{contentCount}}
              </div>
              
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>