<!-- HTML code for a node. We're going to display only nodes that have children . 
For a node, we'll display the node and its children, and if its children have children, we'll call up a new node component.-->

<!-- We check whether the node has children and whether we accept that it is visible (in connection with the search bar, if the node is not in what we are looking for, we don't display it). -->
<div *ngIf="node.children && node.children.length > 0 && node.isVisible" class="dimensions_nodes_labels" [style.margin-left.em]="marginLeft" [style.fontSize.em]="getFontSize()">

    <!-- div corresponding to the title + checkbox + button if necessary. -->
    <div class="dimensions_labels_title">
        <input type="checkbox" [checked]="node.isCheckedX" (change)="toggleCheckboxX(node)"/>
        <input type="checkbox" [checked]="node.isCheckedY" (change)="toggleCheckboxY(node)" [style.margin-right]="'50px'"/>
        <span *ngIf="hasNonLeafChildren(node)" class="toggle-button" (click)="toggleNode(node)">{{toggleButton(node)}}</span> 
        {{node.name}}
    </div>

    <!-- Here, we'll treat each child of the node and, depending on whether a child has children of its own, it will go into the first or second div.  -->
    <ng-container class="dimensions_childnodes_labels" *ngIf="node.isExpanded">
      <ng-container *ngFor="let childNode of sortNodes(node.children)">

        <!-- If a child of the node has children  -->
        <div *ngIf="hasNonLeafChildren(childNode) && childNode.children && childNode.children.length > 0 && childNode.isVisible" class="dimensions_nodes_labels">
            <div class="dimensions_labels_title">
                <input type="checkbox" [checked]="childNode.isCheckedX" (change)="toggleCheckboxX(childNode)"/>
                <input type="checkbox" [checked]="childNode.isCheckedY" (change)="toggleCheckboxY(childNode)" [style.margin-right]="'50px'"/>
                <span class="toggle-button" (click)="toggleNode(childNode)">{{toggleButton(childNode)}}</span> 
                {{childNode.name}}
            </div>
            <ng-container class="dimensions_childnodes_labels" *ngIf="childNode.isExpanded">
                <app-dimensions-selection-node *ngFor="let grandChildNode of sortNodes(childNode.children)" [node]="grandChildNode" [nodegen]="nodegen+1" (checkX)="toggleCheckboxX($event)" (checkY)="toggleCheckboxY($event)"></app-dimensions-selection-node>
            </ng-container>          
        </div>

        <!-- If a child of the node has no children  -->
        <div *ngIf="(!hasNonLeafChildren(childNode)) && childNode.children && childNode.children.length > 0 && childNode.isVisible" class="dimensions_nodes_labels">
            <div class="dimensions_labels_title">
                <input type="checkbox" [checked]="childNode.isCheckedX" (change)="toggleCheckboxX(childNode)"/>
                <input type="checkbox" [checked]="childNode.isCheckedY" (change)="toggleCheckboxY(childNode)" [style.margin-right]="'50px'"/>
                {{childNode.name}}     
            </div>     
        </div>

      </ng-container>
    </ng-container>

</div>
