<!-- Node display -->
<div class="filters_labels_title" *ngIf="node.isVisibleFilters">
    <input type="checkbox" [checked]="node.isCheckedFilters" (change)="toggleCheckboxNodeFiltersSelected(node)" [style.margin-right]="'50px'" />
    <span *ngIf="node.children && node.children.length > 0" class="toggle-button" (click)="node.isExpanded = !node.isExpanded">{{node.isExpanded ? '-' : '+'}}</span> 
    {{node.name}}
</div>

<!-- Child's Node Diplay  -->
<div class="filters_childnodes_labels" *ngIf="node.isVisibleFilters && node.isExpanded && node.children && node.children.length > 0">
    <app-filters-selection-nodes *ngFor="let childNode of sortNodeChildren(node)" [node]="childNode" (idchecked)="toggleCheckboxNodeFiltersSelected($event)"></app-filters-selection-nodes>
</div>  