<div class="axis-container">
    <table>
      <thead>
        <tr>
          <th class="intersection-cell"></th>
          <th class="head-row" *ngFor="let x of AxisX">{{ x }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let y of AxisY">
          <td>{{ y }}</td>
          <td *ngFor="let x of AxisX">
            <ng-container  >
              <img class="cell-content_img" *ngIf="getContent(x, y); let imageUrl"  [src]="imageUrl" alt="Cell Image"/>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
</div>