  .axis-container {
    display: flex;
    max-width: 95%;
    max-height: 95%;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    margin : 1em 0 0 1em;
    padding : 0 0.5em 0.5em 0;
  }

/* #### General styles for hiding scrollbars #### */
  /* Specific styles for Chrome, Safari and other WebKit-based browserss */
  .axis-container::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .axis-container::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* Scroll handle colour */
  }
  
  .axis-container::-webkit-scrollbar-track {
    background-color: var(--main-color) /* Scroll track colour */
  }

  /* Firefox */
  .axis-container {
    scrollbar-width:thin;
    scrollbar-color: var(--main-color) var(--main-color); /* Colour of the handle and scroll track */
  }
  /* ############################################## */

  table {
    border-collapse: collapse;
    width: 100%;
    color: var(--main-color);
  }

  th, td {
    text-align: center;
  }

  thead th{
    width: 11em;
    height: 11em;
    min-width: 11em;
    max-width: 11em;
    min-height: 11em;
    max-height: 11em;
    background-color: var(--secondary-background-color);
  }

  tbody tr td{
    border: solid black 1px;
    box-sizing: border-box;
    min-width: 11em;
    max-width: 11em;
    min-height: 11em;
    max-height: 11em;
    width: 11em;
    height: 11em;
  }

  tbody tr td:first-child {
    position: sticky;
    left: 0;
    background-color: var(--secondary-background-color);
    border :none;
    z-index: 1;
    width: 11em;
    height: 11em;
    min-width: 11em;
    max-width: 11em;
    min-height: 11em;
    max-height: 11em;
  }

  .intersection-cell{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3; 
  }


  .head-row{
    position: sticky;
    top: 0;
    z-index: 2; 
  }


  .cell-content_img{
    max-width: 10em;
    max-height: 10em;
    vertical-align: middle;
    margin:0.1em 0.1em 0.1em 0.1em;
  }