<div class="axis-container">
    <table>
      <thead>
        <tr>
          <th class="intersection-cell"></th>
          <th class="head-row" *ngFor="let x of AxisX">{{ x }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let y of AxisY">
          <td>{{ y }}</td>
          <td *ngFor="let x of AxisX">
            <ng-container>
              <div *ngIf="imageUrls[x + '-' + y]; let imageUrl">
                <div *ngIf="isLoading[x + '-' + y] && imageUrl" class="loading">
                  Loading...
                </div>
                <img
                  *ngIf="!isError[x + '-' + y] && imageUrl"
                  class="cell-content_img"
                  [src]="imageUrl"
                  alt="Cell Image"
                  (load)="onLoad(x + '-' + y)"
                  (error)="onError(x + '-' + y)"
                />
                <div *ngIf="isError[x + '-' + y]" class="error">
                  Image Not Found!
                </div>
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
</div>