body {
    font-family: 'Shrikhand', serif;
   	overflow: auto;
    width: 100%;
    height: 100vh;
    margin: 0% 0% 0% 0%;
    background-color: var(--background-color);
}

/* #### General styles for hiding scrollbars #### */
  /* Specific styles for Chrome, Safari and other WebKit-based browsers */
  ::-webkit-scrollbar {
    width: 0.5em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Scroll handle colour */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Scroll track colour */
  }
  
  /* For Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Colour of the handle and scroll track */
  }
/* ############################################## */


/* ################### Header ################### */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    background-color: var(--secondary-background-color);
    color: var(--main-color);
}

.header_title{
    font-size: 3.5em;
    margin: auto 0.3em auto 0.3em;
}

.header_buttons_div, .header_undoredo_div{
    display: flex;
    height: auto;  
    width: auto;  
    margin: 0.3em 0.3em 0.3em 0.3em;
    flex-wrap: wrap;
}

.header_undoredo_img{
    margin: auto 1em auto 1em;
    width: 4em;
    cursor: pointer;
}

.header_buttons{
    font-family: 'Shrikhand', serif;
    font-size: 1.7em;
    color: var(--main-color);
    background: var(--button-color);;
    border: none;
    border-radius: 50px;
    height: min-content;
    width: min-content; 
    margin: auto 1em auto 1em;
    cursor: pointer;
}
/* ############################################## */



/* ################### Article ################## */
.article{
    display: flex;
    justify-content: space-between;
    height: 88vh;
    margin: 2vh 0 2vh 0;
}

.select_dimensions{
    min-height: 100%;
    display: flex;
    justify-content: start;
    margin-right: 0.6em;
}

.graph{
    min-height: 100%;
    width: 80%;
    border-radius: 50px 50px 50px 50px;
}

.select_filters{
    min-height: 100%;
    display: flex;
    justify-content: end;
    margin-left: 0.6em;
}

.select_dimensions_pannel, .graph, .select_filters_pannel{
    background-color: var(--secondary-background-color); ;
}

.select_dimensions_pannel, .select_filters_pannel{
    min-width: 95%;
    max-width: 95%;
    min-height: 100%;
    max-height: 100%;
}

.select_dimensions_pannel{
    border-radius: 0 50px 50px 0;
}

.select_filters_pannel{
    border-radius:  50px 0 0 50px;
}

.select_dimensions_button, .select_filters_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select_dimensions_button button, .select_filters_button button{
    font-family: 'Montserrat', serif;
    font-size: 1vw;
    justify-content: center;
    background-color: var(--secondary-background-color); 
    color: var(--main-color);;
    height: 10%;
    border: none;
    cursor: pointer;
}

.select_dimensions_button button{
    border-radius: 0 50px 50px 0;
}

.select_filters_button button{
    border-radius: 50px 0 0 50px ;
}
/* ############################################## */

/* ############### Component sizes ############## */
app-dimensions-selection{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0 50px 50px 0;
    height: 100%;
}

app-filters-selection{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 50px 0 0 50px;
    height: 100%;
}

app-graph{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 50px 50px 50px 50px;
    height: 100%;
    border: solid magenta;
}
/* ############################################## */


/*  ##### Media queries for smaller screens ##### */
@media screen and (max-width: 1100px) {
    header {
        justify-content: center;
    }
    .header_title{
        font-size: 3em;
    }
    .header_buttons_div, .header_undoredo_div{
        justify-content: center;
    }
    .header_buttons{
        margin: 0.2em 1em 0.2em 1em;
    }

    /* ################### Article ################## */
    .smcr_article{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .smcr_select_dimensions{
        width: 92%;
        margin: 1em 0 1em 0;
    }

    .smcr_graph{
        min-height: 100%;
        width: 92%;
        margin: 1em 0 1em 0;
        background-color: var(--secondary-background-color);
        border-radius: 50px 50px 50px 50px;
    }

    .smcr_select_filters{
        min-height: 100%;
        width: 92%;
        margin: 1em 0 1em 0;
    }

    .smcr_select_filters_button, .smcr_select_dimensions_button{
        display: flex;
        justify-content: center;
    }

    .smcr_select_filters_button button, .smcr_select_dimensions_button button{
        width: 50%;
        min-height: 100%;
        font-family: 'Montserrat', serif;
        font-size: 3vh;
        justify-content: center;
        background-color: var(--secondary-background-color);
        color: var(--main-color);
        border: none;
        cursor: pointer;
        border-radius: 50px 50px 0 0;
    }

    .smcr_select_filters_pannel, .smcr_select_dimensions_pannel{
        height: auto ;
        min-width: 100%;
        max-width: 100;
        border-radius: 50px 50px 50px 50px;
        background-color: var(--secondary-background-color);
    }
    

}

@media screen and (min-width: 1101px) and (max-width : 1500px){
    header {
        justify-content: space-between;
    }
    .header_title{
        font-size: 3em;
    }
 }
 /* ############################################## */

