body {
    font-family: 'Shrikhand', serif;
   	overflow: auto;
    width: 100%;
    height: 100vh;
    margin: 0% 0% 0% 0%;
    background-color: black;
}
/* ############################################## */


/* ################### Header ################### */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    background-color: rgba(59,187,156,0.7) ;
    color: white;
}

.header_title{
    font-size: 3.5em;
    margin: auto 0.3em auto 0.3em;
}

.header_buttons_div, .header_undoredo_div{
    display: flex;
    height: auto;  
    width: auto;  
    margin: 0.3em 0.3em 0.3em 0.3em;
}

.header_undoredo_img{
    margin: auto 1em auto 1em;
    width: 4em;
    cursor: pointer;
}

.header_buttons{
    font-family: 'Shrikhand', serif;
    font-size: 1.7em;
    color: white;
    background: linear-gradient(90deg, #000000, #737373);
    border: none;
    border-radius: 50px;
    height: min-content;
    width: min-content; 
    margin: auto 1em auto 1em;
    cursor: pointer;
}
/* ############################################## */



/* ################### Article ################## */
.article{
    display: flex;
    justify-content: space-between;
    height: 88vh;
    margin: 2vh 0 2vh 0;
}

.select_dimensions{
    min-height: 100%;
    display: flex;
    justify-content: start;
    margin-right: 0.6em;
}

.graph{
    min-height: 100%;
    width: 80%;
    border-radius: 50px 50px 50px 50px;
}

.select_filters{
    min-height: 100%;
    display: flex;
    justify-content: end;
    margin-left: 0.6em;
}

.select_dimensions_pannel, .graph, .select_filters_pannel{
    background-color: rgba(56,141,120,0.7) ;
}

.select_dimensions_pannel, .select_filters_pannel{
    min-width: 95%;
    max-width: 95%;
}

.select_dimensions_pannel{
    border-radius: 0 50px 50px 0;
}

.select_filters_pannel{
    border-radius:  50px 0 0 50px;
}

.select_dimensions_button, .select_filters_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select_dimensions_button button, .select_filters_button button{
    font-family: 'Montserrat', serif;
    font-size: 1vw;
    justify-content: center;
    background-color: rgba(56,141,120,0.7) ;
    color: white;
    height: 10%;
    border: none;
    cursor: pointer;
}

.select_dimensions_button button{
    border-radius: 0 50px 50px 0;
}

.select_filters_button button{
    border-radius: 50px 0 0 50px ;
}

.test{
    color:white;
    border: solid;
    border-color: magenta;
}


/* ############################################## */


/*  ##### Media queries for smaller screens ##### */
@media screen and (max-width: 1100px) {
    header {
        justify-content: center;
    }
    .header_title{
        font-size: 3em;
    }

    /* ################### Article ################## */
    .smcr_article{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 88vh;
    }

    .smcr_select_dimensions{
        width: 92%;
        margin: 1em 0 1em 0;
    }

    .smcr_graph{
        min-height: 100%;
        width: 92%;
        margin: 1em 0 1em 0;
        background-color: rgba(56,141,120,0.7) ;
        border-radius: 50px 50px 50px 50px;
    }

    .smcr_select_filters{
        min-height: 100%;
        width: 92%;
        margin: 1em 0 1em 0;
    }

    .smcr_select_filters_button, .smcr_select_dimensions_button{
        display: flex;
        justify-content: center;
    }

    .smcr_select_filters_button button, .smcr_select_dimensions_button button{
        width: 50%;
        min-height: 100%;
        font-family: 'Montserrat', serif;
        font-size: 3vh;
        justify-content: center;
        background-color: rgba(56,141,120,0.7) ;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 50px 50px 0 0;
    }

    .smcr_select_filters_pannel, .smcr_select_dimensions_pannel{
        min-height: 96%;
        max-height: 96%;
        border-radius: 50px 50px 50px 50px;
        background-color: rgba(56,141,120,0.7) ;
    }
    

}

@media screen and (min-width: 1101px) and (max-width : 1500px){
    header {
        justify-content: space-between;
    }
    .header_title{
        font-size: 3em;
    }
 }
 /* ############################################## */

