<body>

  <!-- Header Tag (small and large screen) -->
  <header>
    <div class="header_title">PhotoCube</div>
    <div class="header_undoredo_div">
      <img class="header_undoredo_img" src="../assets/icons/undo.svg">
      <img class="header_undoredo_img" src="../assets/icons/redo.svg">
    </div>
    <div class="header_buttons_div">
      <button class="header_buttons" (click)="refresh_selection_list()">Refresh</button>
      <button class="header_buttons">Import</button>
      <button class="header_buttons">Export</button>
    </div>
  </header>

  <!-- Article Tag for large screen -->
  <article *ngIf="smallscreen===false; else smallscreenVersion" class="article">
    <section class="select_dimensions" [style.max-width]="display_dimensions ? '22%' : '1%'" [style.min-width]="display_dimensions ? '22%' : '1%'">
      <div class="select_dimensions_pannel" [style.display]="display_dimensions ? 'flex' : 'none'">
        <app-dimensions-selection></app-dimensions-selection>
      </div>
      <div class="select_dimensions_button" [style.max-width]="display_dimensions ? '4%' : '100%'" [style.min-width]="display_dimensions ? '4%' : '100%'" >
        <button (click)="display_dimensions_change()"> {{ display_dimensions ? '-' : '+' }} </button>
      </div>
    </section>

    <section class="graph"></section>

    <section class="select_filters" [style.max-width]="display_filters ? '22%' : '1%'" [style.min-width]="display_filters ? '22%' : '1%'">
      <div class="select_filters_button"  [style.max-width]="display_filters ? '4%' : '100%'" [style.min-width]="display_filters ? '4%' : '100%'">
        <button (click)="display_filters_change()"> {{ display_filters ? '-' : '+' }} </button>
      </div>
      <div class="select_filters_pannel" [style.display]="display_filters ? 'flex' : 'none'">      
        <app-filters-selection></app-filters-selection>
      </div>
    </section>
  </article>

  <!-- Article Tag for small screen -->
  <ng-template #smallscreenVersion>
    <article class="smcr_article">
      <section class="smcr_select_dimensions" [style.min-height]="display_dimensions ? '100%' : '4%'" [style.max-height]="display_dimensions ? '100%' : '4%'">
        <div class="smcr_select_dimensions_button" [style.max-height]="display_dimensions ? '4%' : '100%'" [style.min-height]="display_dimensions ? '4%' : '100%'">
          <button (click)="display_dimensions_change()" [style.border-radius]="display_dimensions ? '50px 50px 0 0' : '50px 50px 50px 50px'"> {{ display_dimensions ? '-' : '+' }} </button>
        </div>
        <div class="smcr_select_dimensions_pannel" [style.display]="display_dimensions ? 'flex' : 'none'">
          <app-dimensions-selection></app-dimensions-selection>
        </div>
      </section>
      
      <section class="smcr_graph">aaaa</section>

      <section class="smcr_select_filters" [style.min-height]="display_filters ? '100%' : '4%'" [style.max-height]="display_filters ? '100%' : '4%'">
        <div class="smcr_select_filters_button" [style.max-height]="display_filters ? '4%' : '100%'" [style.min-height]="display_filters ? '4%' : '100%'">
          <button (click)="display_filters_change()"  [style.border-radius]="display_filters ? '50px 50px 0 0' : '50px 50px 50px 50px'"> {{ display_filters ? '-' : '+' }} </button>
        </div>
        <div class="smcr_select_filters_pannel" [style.display]="display_filters ? 'flex' : 'none'">
          <app-filters-selection></app-filters-selection>
        </div>
      </section>
    </article>
  </ng-template>


</body>