/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Shrikhand';
    src: url('/assets/fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Variables */
:root{
  --main-color: #FFFFFF;
  --button-color: linear-gradient(90deg, #000000, #737373);
  --background-color: #000000;
  --secondary-background-color:#276354;
}


/* ########### General Style for  Body ########## */
body {
  font-family: 'Shrikhand', serif;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  margin: 0% 0% 0% 0%;
  background-color: var(--background-color);
}
/* ############################################## */






/* #### General styles for hiding scrollbars #### */
/* Specific styles for Chrome, Safari and other WebKit-based browsers */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Scroll handle colour */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Scroll track colour */
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Colour of the handle and scroll track */
}
/* ############################################## */