/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Shrikhand';
    src: url('/assets/fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root{
  --main-color: #FFFFFF;
  --button-color: linear-gradient(90deg, #000000, #737373);
  --background-color: #000000;
  --secondary-background-color:#276354;
}